/*------------------------*/
/* OBS-SEG-MOM3-8 Imagen botones y audio*/
.contenido_obs-seg-mom3-8 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.imagen-botones_obs-seg-mom3-8 {
  position: relative;
  width: 100%;
  height: 21rem;
  background: url('../momento1_6/img/leccion1_sld6.webp') no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 3%;
  margin-bottom: 5%;
  margin-top: 2%;
}

.boton_obs-seg-mom3-8 {
  position: absolute;
  width: 50px;
  height: 50px;
  border: none;
  background-color: #6e3cd2;
  color: #fff;
  border: solid 2px #fff;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  margin: 10px;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.boton_obs-seg-mom3-8:hover {
  background-color: #fff;
  color: #6e3cd2;
}

.boton_obs-seg-mom3-8.activo {
  background-color: #fff;
  color: #6e3cd2;
  border: solid 2px #6e3cd2;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

.tarjetas_obs-seg-mom3-8 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.tarjetas_obs-seg-mom3-8 p {
  font-size: 16px;
  margin-bottom: 10px;
}

.tarjetas_obs-seg-mom3-8 audio {
  width: 100%;
}

.card_obs-seg-mom3-8 {
  display: none;
  width: 45%;
  background: #ffffff;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 15px;
  border-radius: 8px;
  margin: 10px;
  text-align: left;
  transition: all 0.3s ease;
}

.card_obs-seg-mom3-8.activo {
  background-color: #6e3cd2;
  color: #fff;
}

.card_obs-seg-mom3-8.activo p {
  color: #fff;
}

.p-ancho {
  padding: 3rem;
}

.dp-none {
  display: none !important;
}

.boton-1 {
  top: 20%;
  left: 10%;
}

.boton-2 {
  top: 25%;
  left: 23%;
}

.boton-3 {
  top: 15%;
  left: 35%;
}

.boton-4 {
  top: 30%;
  left: 50%;
}

.boton-5 {
  top: 45%;
  left: 65%;
}

/* Ajuste de posición para el contenedor de audio */
.audio-center-p2 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  margin-left: 0.1rem;
}

@media (max-width: 768px) {
  .dp-none {
    display: block !important;
  }

  .card_obs-seg-mom3-8 {
    width: 100%;
    margin: 20px 5px;
  }

  .boton-1 {
    top: 5%;
    left: 3%;
  }

  .boton-2 {
    top: 20%;
    left: 15%;
  }

  .boton-3 {
    top: 15%;
    left: 35%;
  }

  .boton-4 {
    top: 30%;
    left: 50%;
  }

  .boton-5 {
    top: 47%;
    left: 60%;
  }
}

/* Estilos para las tarjetas en el modal */
.modal .card {
  border-radius: 8px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.modal .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.modal .card-title {
  color: #6e3cd2;
  font-weight: 600;
}

.modal .card-title i {
  margin-right: 10px;
}

.modal ul {
  padding-left: 20px;
}

.modal ul li {
  line-height: 1.5;
  margin-bottom: 10px;
}

/* Estilos para el encabezado del modal */
.modal-header {
  border-bottom: 2px solid #6e3cd2;
}

.modal-title {
  font-weight: 700;
  color: #6e3cd2;
}

.border-g-color {
  border-left: 5px solid #43b36a;
}

.border-p-color {
  border-left: 5px solid #C0185D;
}

ul.text-start {
  list-style-type: decimal;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .modal .card-body {
    padding: 15px;
  }

  .modal .card-title {
    font-size: 1.1rem;
  }

  .modal ul li {
    font-size: 0.9rem;
  }
}