.container_card_agentel2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card_agentel2 {
    box-shadow: 2px 2px 2px 2px rgb(53 53 53 / 36%);
    padding: 1rem;
    margin: 0.7rem;
    border-radius: 2%;
    background: linear-gradient(45deg, #8a5ce7, #6b3cd2, #5220c5);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-body_agente {
    padding: 0.5rem;
}

.arrow_agente {
    font-size: 25px;
    text-align: center;
}

.titulo_agentel2 {
    color: #fff;
    font-size: 18px;
    text-align: center;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.icono_agentel2 {
    width: 100%;
    border-radius: 2%;
    margin-bottom: 5%;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}

/* Hover: cambia el color de fondo y el color del h3 */
.card_agentel2:hover {
    background: linear-gradient(45deg, #ffffff, #f5f5f5, #ececec);
}

.card_agentel2:hover .titulo_agentel2 {
    color: var(--fourth);
}

.card_agentel2:hover .icono_agentel2 {
    filter: grayscale(0%);
}

/* Estado activo: para mantener el color de fondo al hacer clic */
.card_agentel2.active {
    background: linear-gradient(45deg, #ffffff, #f5f5f5, #ececec);
}

.card_agentel2.active .titulo_agentel2 {
    color: var(--fourth);
}

.card_agentel2.active .icono_agentel2 {
    filter: grayscale(0%);
}

.audio-center-p3 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    margin-left: 0.1rem;
}

@media (max-width: 768px) {
    .container_card_agentel2 {
        flex-direction: column;
        align-items: stretch;
    }

    .card_agentel2 {
        flex: 1 1 100%;
        margin: 1rem .5rem;
        padding: 1rem;
        gap: 15%;
    }

    .arrow_agente {
        transform: rotate(90deg);
        /* Rota la flecha 90 grados para que apunte hacia abajo */
    }
}